.button-primary{
      background: blue;
      color: white;
      padding: 10px 14px;
      margin: 0px;
      transition: 0.5s;





}

.button-primary :hover {
    background: skyblue;
    color: black;
    
}