/* index.css */
.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
}

.button-primary {
  background-color: blue;
  color: white;
}

.button-secondary {
  background-color: gray;
  color: white;
}

.button-danger {
  background-color: red;
  color: white;
}

.button-disable {
  background-color: lightgray;
  color: darkgray;
  cursor: not-allowed;
}

.button-submit {
  background-color: green;
  color: white;
}
