.button-primary{
  background: blue;
  color: white;
  padding: 10px 14px;
  margin: 0px;
  transition: 0.5s;
  cursor: pointer;
  border: none;
  border-radius: 10px;





}

.button-primary:hover {
background: rgb(82, 105, 236);
color: black;
cursor: pointer;
box-shadow:  2px 3px 1px 1px rgb(82, 105, 236) ;


}

